<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class=>
      Upper-body Exercises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="Arms">
      <ion-item slot="header">
        <ion-label>Arms</ion-label>
      </ion-item>
  
      <ion-grid slot = "content">
        <ion-row *ngFor="let exercise of ArmsData">
          <ion-col size="9">
            {{exercise.name}}
          </ion-col>
          <ion-col size="3">
            <ion-checkbox></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>

    <ion-accordion value="Shoudlers">
      <ion-item slot="header">
        <ion-label>Shoulders</ion-label>
      </ion-item>
  
      <ion-grid slot = "content">
        <ion-row *ngFor="let exercise of ShoulderData">
          <ion-col size="9">
            {{exercise.name}}
          </ion-col>
          <ion-col size="3">
            <ion-checkbox></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>

    <ion-accordion value="Chest">
      <ion-item slot="header">
        <ion-label>Chest</ion-label>
      </ion-item>
  
      <ion-grid slot = "content">
        <ion-row *ngFor="let exercise of ChestData">
          <ion-col size="9">
            {{exercise.name}}
          </ion-col>
          <ion-col size="3">
            <ion-checkbox></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>

    <ion-accordion value="Abs">
      <ion-item slot="header">
        <ion-label>Abs</ion-label>
      </ion-item>
  
      <ion-grid slot = "content">
        <ion-row *ngFor="let exercise of AbsData">
          <ion-col size="9">
            {{exercise.name}}
          </ion-col>
          <ion-col size="3">
            <ion-checkbox></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>
  </ion-accordion-group>
  
</ion-content>
