<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class=>
      Upper-body Exercises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Choose Your Upper Body Exercises From the List Below</ion-label>
  <ion-accordion-group>
    <ion-accordion value="Arms">
      <ion-item slot="header">
        <ion-label>Arms</ion-label>
      </ion-item>
  
      <ion-grid slot = "content">
        <!-- ArmsData and all the prociding "...Data" arrays are gotten from the exercises.service httpClient
        // for its specific body part-->
        <ion-row *ngFor="let exercise of ArmsData">
          <ion-col size="9">
            {{exercise.name}}
          </ion-col>
          <ion-col size="3">
            <!--Using event binding to change state variable to the opposite of what it currently is
            // Also changing the name variable to the most recently selected exercise
            // Calling saveSelected function which saves the name and state to a 2d array if the box is
            // Going from unchecked to checked(this is why the state must be saved) otherwise if the
            // state is false(unchecked) then it will delete the exercise from the array
            -->
            <ion-checkbox (ionChange)="state = !state" (ionChange)="name = exercise.name" (ionChange)="SaveSelected()"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>

    <ion-accordion value="Shoudlers">
      <ion-item slot="header">
        <ion-label>Shoulders</ion-label>
      </ion-item>
  
      <ion-grid slot = "content">
        <ion-row *ngFor="let exercise of ShoulderData">
          <ion-col size="9">
            {{exercise.name}}
          </ion-col>
          <ion-col size="3">
            <ion-checkbox (ionChange)="state = !state" (ionChange)="name = exercise.name" (ionChange)="SaveSelected()"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>

    <ion-accordion value="Chest">
      <ion-item slot="header">
        <ion-label>Chest</ion-label>
      </ion-item>
  
      <ion-grid slot = "content">
        <ion-row *ngFor="let exercise of ChestData">
          <ion-col size="9">
            {{exercise.name}}
          </ion-col>
          <ion-col size="3">
            <ion-checkbox (ionChange)="state = !state" (ionChange)="name = exercise.name" (ionChange)="SaveSelected()"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>

    <ion-accordion value="Abs">
      <ion-item slot="header">
        <ion-label>Abs</ion-label>
      </ion-item>
  
      <ion-grid slot = "content">
        <ion-row *ngFor="let exercise of AbsData">
          <ion-col size="9">
            {{exercise.name}}
          </ion-col>
          <ion-col size="3">
            <ion-checkbox (ionChange)="state = !state" (ionChange)="name = exercise.name" (ionChange)="SaveSelected()"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-accordion>
  </ion-accordion-group>
  
</ion-content>
